/* General styles */
body {
  max-width: 100ch;
  text-align: center;
  margin-inline: auto;
  padding: 35px;
  font-family: Arial, sans-serif;
}

/* Navigation styling */
/* Reset list styling */
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  flex: 1;
}

nav a {
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

nav a:hover {
  background-color: #555;
  border-radius: 5px;
}

nav a.current {
  background-color: #777;
  border-radius: 5px;
}
